<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xpanxion.directory">

    <application>
        <activity
            android:name=".DirectoryActivity"
            android:label="@string/nav_directory_placeholder"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>